* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.learning-guides,
.comparisons,
.glossary,
.budgeting-hub {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.learning-guides {
  /*background-image: url('images/img-1.jpg');*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(8, 4, 4);
  font-size: 100px;
}

.comparisons {
  /*background-image: url('images/img-2.jpg');*/
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: rgb(8, 4, 4);
  font-size: 100px;
}

.glossary {
  /*background-image: url('images/img-3.jpg');*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(8, 4, 4);
  font-size: 100px;
}

.budgeting-hub {
  /*background-image: url('images/img-3.jpg');*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(8, 4, 4);
  font-size: 100px;
}